.card {
    display: inline-block;
    position: relative;
    width: 140px;
    height: 280px;
    margin: 5px;
    border-radius: 5px;

    .card-sides {
        .card-side {
            background-image: url('img/cards.jpg');
            background-size: auto 100%;
            border-radius: 5px;

            &>* {
                pointer-events: none;
                user-select: none;
            }

            &.front {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    } 

    &[data-type="1"] {
        @for $i from 1 through 11 {
            &[data-type-arg="#{$i}"] .front {
                background-position-x: #{($i) * 100% / 11};
            }
        }
    }

    &[data-type="2"] {
        .card-side {
            background-image: url('img/cards-legend.jpg');
        }
        @for $i from 1 through 10 {
            &[data-type-arg="#{$i}"] .front {
                background-position-x: #{($i) * 100% / 10};
            }
        }
    }

    .helmet {
        display: inline-block;
        width: 64px;
        height: 64px;
        background-image: url('img/helmet.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }
}

.hidden-deck.selectable {
    .card:hover {
        cursor: pointer;

        .card-side {
            box-shadow: 0 0 5px 3px #FFFFFF;
        }
    }
}