.card {
    display: inline-block;
    position: relative;
    width: 140px;
    height: 280px;
    margin: 5px;
    border-radius: 5px;

    &.disabled {
      cursor: not-allowed;
      filter: contrast(0.6);
    }

    .card-sides {
        .card-side {
            background-size: auto 100%;
            border-radius: 5px;

            &>* {
                pointer-events: none;
                user-select: none;
            }
        }
    }    

    &.selectable:not(.disabled) {
        cursor: pointer;
        &:not(.selected) {
            animation: selectable-card-animation 1s alternate infinite ease-in-out;
        }

        .card-side {
            box-shadow: unset;
        }
    }    

    &.selected:not(.disabled) {
        box-shadow: 0 0 5px 8px #e273f5;

        .card-side {
            box-shadow: unset;
        }
    }

    &[data-type="1"] {
        background-image: url('img/cards.jpg');
        @for $i from 1 through 11 {
            &[data-type-arg="#{$i}"] .front {
                background-position-x: #{($i) * 100% / 11};
            }
        }
    }

    &[data-type="2"] {
        background-image: url('img/cards-legend.jpg');
        @for $i from 1 through 10 {
            &[data-type-arg="#{$i}"] .front {
                background-position-x: #{($i) * 100% / 10};
            }
        }
    }
}

@keyframes selectable-card-animation {
    0% { 
      //background: var(--background-lighter);
      box-shadow: 0 0 3px 2px #FFFFFF;
    }
    100% { 
      //background: var(--background-darker);
      box-shadow: 0 0 5px 3px #FFFFFF;
    }
}
