.card {
    display: inline-block;
    position: relative;
    width: 140px;
    height: 280px;
    margin: 5px;
    border-radius: 5px;

    .card-sides {
        .card-side {
            background-image: url('img/cards.jpg');
            background-size: auto 100%;
            border-radius: 5px;

            &>* {
                pointer-events: none;
                user-select: none;
            }

            &.front {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    } 

    &[data-type="1"] {
        @for $i from 1 through 11 {
            .front[data-type-arg="#{$i}"] {
                background-position-x: #{($i) * 100% / 11};
            }
        }
    }

    &[data-type="2"] {
        .card-side {
            background-image: url('img/cards-legend.jpg');

            overflow: hidden;
            // shimmer animation
            &::after {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                opacity: 0.3;
                background: linear-gradient(110deg, transparent 15%, #FFFFFF 50%, transparent 85%);
                animation: shimmer 3s ease-in-out infinite;
                content: '';
            }

            @keyframes shimmer {
                0% {
                    transform: translateX(-300%);
                }
                100% {
                    transform: translateX(300%);
                }
            }
        }
        @for $i from 1 through 10 {
            .front[data-type-arg="#{$i}"] {
                background-position-x: #{($i) * 100% / 10};
            }
        }
    }

    .helmet {
        display: inline-block;
        width: 64px;
        height: 64px;
        position: absolute;
        top: -50px;
        left: 38px;
        background-image: url('img/helmet.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }
}

.deck.bga-cards_selectable-stock {
    .card:hover {
        cursor: pointer;

        .card-side {
            box-shadow: 0 0 5px 3px #FFFFFF;
        }
    }
}

.disabled-shimmer {
    .card-side::after {
        opacity: 0;
        animation: none;
    }
}